/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

/* Define styles for .App class */
.App {
    min-height: 100vh;
    font-family: 'Work Sans', sans-serif; 
    display: flex;
    background-image: url('./assets/background.jpg');
    background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}